# Copyright (c) 2023 Arm Limited.
#
# SPDX-License-Identifier: MIT
#
# Permission is hereby granted, free of charge, to any person obtaining a copy
# of this software and associated documentation files (the "Software"), to
# deal in the Software without restriction, including without limitation the
# rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
# sell copies of the Software, and to permit persons to whom the Software is
# furnished to do so, subject to the following conditions:
#
# The above copyright notice and this permission notice shall be included in all
# copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
# IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
# FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
# AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
# LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
# OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
# SOFTWARE.

build --cxxopt="-Wall" --cxxopt="-DARCH_ARM" --cxxopt="-Wextra" --cxxopt="-pedantic" \
      --cxxopt="-Wdisabled-optimization" --cxxopt="-Wformat=2" --cxxopt="-Winit-self" \
      --cxxopt="-Wstrict-overflow=2" --cxxopt="-Wswitch-default" --cxxopt="-Woverloaded-virtual" \
      --cxxopt="-Wformat-security" --cxxopt="-Wctor-dtor-privacy" --cxxopt="-Wsign-promo" \
      --cxxopt="-Weffc++" --cxxopt="-Wno-overlength-strings" --cxxopt="-Wno-ignored-attributes" \
      --cxxopt="-std=c++14"

--repo_env=CC=gcc-10
--repo_env=CXX=g++-10

# Flag alises to allow user to write for example --Werror=true instead of --//:Werror=true
build --flag_alias=Werror=//:Werror
build --flag_alias=debug=//:debug
build --flag_alias=logging=//:logging
build --flag_alias=openmp=//:openmp
build --flag_alias=cppthreads=//:cppthreads
build --flag_alias=enable_bf16_validation=//:enable_bf16_validation
build --flag_alias=enable_sve_validation=//:enable_sve_validation
build --flag_alias=arch=//:arch
