[submodule "data"]
	path = data
	url = https://git.research.arm.com/ComputeLibrary/data.git
	branch = master
[submodule "3rdparty"]
	path = 3rdparty
	url = http://eu-gerrit-1.euhpc.arm.com/p/VisualCompute/3rdparty
	branch = master
